.row {
  margin: 0 auto;

  /* This selects everything except for the last child. */
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  /* The calc function allows for operations with mixed units.
        If using a variable within calc, the variable must be wrapped in hash followed my curly brackets. */
  .col-1-of-2 {
    width: calc((100% - #{$spacing-loose}) / 2);
    float: left;

    &:not(:last-child) {
      margin-right: $spacing-loose;
    }
  }
}
