// COLORS
$color-primary: #2196f3;
$color-primary-light: #bbdefb;
$color-primary-dark: #1976d2;
$color-primary-accent: #448aff;

// GREY
$color-grey-lighter: #f9fafb;
$color-grey-light: #f4f6f8;
$color-grey-sky: #dfe3e8;
$color-grey-dark: #c4cdd5;

$color-red: #f44336;
$color-red-light: #ffcdd2;
$color-red-dark: #d32f2f;
$color-red-accent: #ff5252;

$color-green: #4caf50;
$color-green-light: #c8e6c9;
$color-green-dark: #388e3c;
$color-green-accent: #4caf50;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 90rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 4rem;
